<footer>
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-12">
                 
                 <span class="icon-align"><a href="#"><i class="fab fa-facebook"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
             </span>
             © Copyright <%= (new Date()).getFullYear() %>  <%= SITE_NAME %>.  All Rights Reserved.
             </div>
         </div>
     </div>
 </footer>