<div role="main">
<section class="banner_area">
                  <div class="layer">
                   <div class="container">
                    <div class="banner_content">
                      <h3 title="Hider"><img class="left-img" src="/frontend/images/left-heartline.png" alt="">Hider<img class="right-img" src="/frontend/images/right-heartline.png" alt=""></h3>
                    </div>
                  </div>
              </div>
        </section>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="home-heading">
				  <h1>Welcome To<span> Hider</span></h1>
				  <img src="/frontend/images/red-line.png">
			   </div>
			</div>
		</div>
	    <div class="text-home">
	      <div class="row">
			<div class="col-md-8" style="margin: 0 auto;">
				<div class="home-text">
					<p>
						Search Friends. Send anonymous texts. Start communicating with people of similar interests.
					</p> 
                     <p>Hider is one of the fastest growing free chat platforms where thousands of people communicate with strangers as well as their friends anonymously. You can start communication with new people from all over the world on Hider instantly.
                     </p> 
                     <p>It is a fun way to meet new people, make new friends, finding a date or just have fun and kill some time by text chatting with strangers.
                     </p>
				</div>
			</div>
          </div>
        </div>
        <div class="home-use">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="easy-heading">
        				<h1>Easy To <span>Use</span></h1>
        				<img src="/frontend/images/red-line.png">
        			</div>
        		</div>
        	</div>
        </div>
        <div class="use-section">
        	<div class="row">
    			<div class="col-md-4">
    			  <div class="use-section-post">	
    				<img src="/frontend/images/soul-1.png">
    				<h4>Create Profile</h4>
    				<p>
    					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
    				</p>
    			  </div>
    			</div>
    			<div class="col-md-4">
    				<div class="use-section-post">
    				 <img src="/frontend/images/letter.jpg">
    				 <h4>Send Messages</h4>
    				 <p>
    					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
    				 </p>
    			  </div>	
    			</div>
    			<div class="col-md-4">
    			  <div class="use-section-post">	
    				<img src="/frontend/images/explore.jpg">
    				<h4>Start Exploring</h4>
    				<p>
    					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
    				</p>
    			 </div>
    		    </div>
        	</div>
        </div>
   </div>
</div> 
</div>