
<div role="main">
	<!--27-04--><section class="banner_area">
		          <div class="layer">
                    <div class="container">
                     <div class="banner_content">
                      <h3 title="About us"><img class="left-img" src="/frontend/images/left-heartline.png" alt="">About us<img class="right-img" src="/frontend/images/right-heartline.png" alt=""></h3>
                    </div>
                 </div>
             </div>
        </section>



	<div class="about-bck-img main-profile">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="inbox-heading text-center">
						<h1>Who <span>We</span> Are</h1>
						<img src="/frontend/images/red-line.png">
					</div>
					<div class="about-content">
						<div class="row">

						   <div class="col-md-6">
				     	    <p>
							 		Hider is an initiative to let global people to initiate communication, make friends, find dates, and do a lot more with ease. It is your personal chat partner for your conversations with friends or strangers without letting your identity revealed. You can find your friends online and you can talk about any topic you wish anonymously. Hider allows you to share anything in your mind with others and get feedbacks from your friends in a private manner.
							 	 </p>
						     	  <p>
						     		Initiate office gossips. Ask someone for date. Share honest feedbacks about someone. And do a lot more with Hider. Your security and privacy is prime concern for us and your information is very safe and we only show what you want. Only registered users are allowed to initiate communication for added security.
						     	  </p>
						     	  <ul>
						     	  	<li>
						     	  		No worry about your identity being revealed.
						     	  	</li>
						     	  	<li>
						     	  		Only registered, authentic members allowed to chat.
						     	  	</li>
						     	  	<li>
						     	  		Overcome your fear to share honest reviews.

						     	  	</li>
						     	  	<li>
						     	  		Free anonymous chat facility.

						     	  	</li>
						     	  	
						     	  </ul>
						     	  <p>
						     	  	Hider is the safest online platform to launch conversations with registered users with zero personal information shared.
						     	  </p>
				          </div>
				      
				       <div class="col-md-6">
				       	<img src="/frontend/images/about-us.jpg">
				    
				       </div>
				   </div>
					</div>
				</div>
		   </div>
		</div>
	</div>
</div>							               