<section id="three" class="wrapper align-left">
	<div class="inner">
		<!--% msg_data.forEach( function( msgs ) { %-->	
			<form action="" method="post">
				
				<div class="field half">
					<textarea rows="4" cols="50" name="comment">
					<!--%= msgs.message %-->
					</textarea>
				</div>				
			</form>
		<!--% }); %-->	
	</div>
</section>


