<div role="main">
<section class="banner_area">
                  <div class="layer">
                   <div class="container">
                    <div class="banner_content">
                      <h3 title="Hider"><img class="left-img" src="/frontend/images/left-heartline.png" alt="">Hider<img class="right-img" src="/frontend/images/right-heartline.png" alt=""></h3>
                    </div>
                  </div>
              </div>
        </section>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="home-heading">
				  <h1>Welcome To<span> Hider</span></h1>
				  <img src="/frontend/images/red-line.png">
			   </div>
			</div>
		</div>
	    <div class="text-home">
	      <div class="row">
			<div class="col-md-8" style="margin: 0 auto;">
				<div class="home-text">
					<p>
					 Search friends. Send texts anonymously. Start communicating with people of similar interests.
					</p> 
                     <p>Hider is an international platform where thousands of people communicate with friends anonymously. Whether it’s a workplace gossip or blind dating, everything’s possible with Hider’s anonymous chatting feature. And it’s free of cost!
                     </p> 
                     <p>Register yourself, search friends on Hider, and send private message or start a private conversation anonymously with option to reply for other party
                     </p>
                     <p>
                      Hider is a fun way to meet new people, make new friends, finding a date or just have fun and kill some time by text chatting with friends. Connect to people from around the world with free access to meet up with strangers.
                     </p>
				</div>
			</div>
          </div>
        </div>
        <div class="home-use">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="easy-heading">
        				<h1>Easy To <span>Use</span></h1>
        				<img src="/frontend/images/red-line.png">
        			</div>
        		</div>
        	</div>
        </div>
        <div class="use-section">
        	<div class="row">
    			<div class="col-md-3">
    			  <div class="use-section-post">	
    				<img src="/frontend/images/soul-1.png">
    				<h4>Register</h4>
    				<p>
    					Easy registration to get you ready to explore the fun of anonymous chatting with friends or strangers
    				</p>
    			  </div>
    			</div>
    			<div class="col-md-3">
    				<div class="use-section-post">
    				 <img src="/frontend/images/letter.jpg">
    				 <h4>Communicate</h4>
    				 <p>
    					Search friends from across the world & discuss any topic anonymously that matters to you.
    				 </p>
    			  </div>	
    			</div>
    			<div class="col-md-3">
    			  <div class="use-section-post">	
    				<img src="/frontend/images/explore.jpg">
    				<h4>100% Free</h4>
    				<p>
    					It’s free for everyone and always will be! Start building relationships with Hider – anonymous chat platform.
    				</p>
    			  </div>
    		  </div>
          <div class="col-md-3">
            <div class="use-section-post">  
            <img src="/frontend/images/insurance.png">
            <h4>Almost Free Insurance</h4>
            <p>
              Stay secure from any unwanted situation with instant alerts from individuals who can find you on Google Map and inform regarding the trouble on your way.<a href="#" class="ins-link">...Know More</a>
            </p>
            </div>
          </div>
        	</div>
        </div>
   </div>
</div> 
</div>