
<section id="three" class="wrapper align-left">
	<div class="inner">
		<form action="" method="post">
			
			<div class="field half">
				<textarea rows="4" cols="50" name="comment">
				Enter text here...</textarea>
				<button type="submit">Send</button>
			</div>
			
		</form>
	</div>
</section>


